/* Raíz */

    *, *::before, *::after {
      box-sizing: inherit;
    }

/* Custom properties */
  
      :root {
      --white: #f9f9f9;
      --dark: #302f30;
      --primary: #ff2825;
      --secondary: #ded366;
      --gray: #525253;
      --ligth-gray: #5a6176;
      --purple: #7209b7;
      --title: 3.8rem;
      --subtitle: 3rem;
    }

    html {
      font-size: 62.5%;
      box-sizing: border-box;
    }

    body {
      font-size: 16px; /* Gracias a este numero 1 rem es igual a 10px*/
      font-family: 'Lato', sans-serif;
      background: rgb(249,249,249);
      background: linear-gradient(180deg, rgba(249,249,249,1) 0%, rgba(48,47,48,1) 100%);
    }

    h1 {
      font-size: var(--title);
      margin: 0;
    }

    h1 span {
      font-size: 1.6rem;
      color: #0096c7;
    }

    h2 {
      font-size: var(--subtitle);
    }

    header {
      background: var(--white);
      padding: 2.5rem 0;
    }

    a {
      text-decoration: none;
    }

    @media (max-width: 43rem) {
      h1 {
        font-size: 3rem;
      }
      h2 {
        font-size: 2rem;
      }
    }
 
/* Barra de navegación */

    .main-nav {
      margin: auto;
      background: var(--dark);
      display: flex;
      justify-content: space-between;
    }

    .main-nav a {
      display: inline-block;
      color: var(--white);
      padding: 1rem;
      font-weight: 700;
      font-size: 2rem;
    }

    .main-nav a:hover {
      background: #0096c7;
      color: var(--white);
    }

    .nav-bg {
      background: var(--dark);
    }

    .container {
  width: 120rem;
}

@media (max-width: 83rem) {
  .container {
    width: 100%;
  }
}

    @media (max-width: 42rem) {
      .main-nav {
        flex-direction: column;
        align-items: center;
      }
      .main-nav a {
        display: block;
        width: 100%;
        text-align: center;
      }
    }
/* Imagen pricipal */

    .hero {
      background-image: url(../img/3d-estructura-abstracta_3840x2160_xtrafondos.com.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 45rem;
      color: var(--white);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      margin-bottom: 2rem;
    }

    .hero::after {
      content: "";
      width: 100%;
      height: 100%;
      background-color: #302f306e;
      position: absolute;
      top: 0;
      left: 0;
    }

    .hero-subtitle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }

    .btn {
      background: #0096c7;
      padding: 1rem 3rem;
      border-radius: 0.5rem;
      color: var(--white);
      font-size: 2rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    .move-front {
      position: relative;
      z-index: 1;
    }

    .center {
      text-align: center;
    }

    @media (max-width: 43rem) {
      .hero-subtitle {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 0;
      }

      .btn {
        width: 90%;
        text-align: center;
      }
    }

/* Pagina Inferior */

    .shadow {
      margin: auto;
      background: var(--white);
      border-radius: 1rem;
      padding: 2rem 2rem 1rem 2rem;
      box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.41);
    }

    .services {
     display: flex;
     flex-direction: column;
     align-items: center;
    }

    .service-cards {
      display: flex;
      gap: 3rem;
    }

    .service-cards h3 {
      font-weight: 400;
      color: var(--dark);
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .card p {
      text-align: center;
    }

    .icon-container {
      width: 15rem;
      height: 15rem;
      background-color: var(--gray);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media (max-width: 43rem) {
      .service-cards {
        display: flex;
        flex-direction: column;
      }
    }

    fieldset {
      background: var(--gray);
      width: 60rem;
      border-radius: 1rem;
      border: none;
      padding-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 2.5rem 3rem 2rem 3rem;
    }

    legend {
      text-align: center;
      margin-top: 1rem;
      color: #0096c7;
      text-transform: uppercase;
      display: block;
      padding-top: 5rem;
      font-weight: 700;
      font-size: 2rem;
    }

    label {
      color: var(--white);
      margin-bottom: 0.5rem;
    }

    input, textarea {
      padding: 1.5rem;
      border-radius: 0.5rem;
      border: none;
    }

    textarea {
      resize: none;
    }

    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .form-section1 {
      display: flex;
      gap: 0.5rem;
    }

    .input-group {
      display: flex;
      flex-direction: column;
    }

    .half-width {
      width: 50%;
    }

    .send-btn {
      width: fit-content;
    }

    .btn-area {
      display: flex;
      justify-content: flex-end;
    }

    footer p {
      text-align: center;
      color: var(--white);
    }

    @media (max-width:43rem) {
      fieldset {
        width: 90%;
      }

      .form-section1 {
        flex-direction: column;
      }

      .half-width {
        width: 100%;
      }
    }

/* Mobile first --- Desktop first */

    




/* Selector de Id (#) / modifica un solo elemento señalado con el atributo "id" */




/* Selector de Atributos (elemento [atributo = valor ]) / selecciona según la presencia de un atributo determinado en un elemento */





/* Selector de todos los hijos (modifica todas los sub-entradas) */

/* Absolutas y relativas */

/* Pseudoselector */



